<!-- Main -->
<template>
    <div class="hello">
        <h1 class="message">{{ msg }}</h1>
        <demineur></demineur>
        <button onclick="window.location='/'">Rejouer</button>
    </div>
</template>

<script>
    //Var du message
    var message = 'A vous de jouer';

    //Recuperation du composent
    import Demineur from '../components/demineur.vue';

    export default {
        //Nom
        name: 'Start',
        //definition des variable dans la template
        data() {
            return {
                msg: message,
            };
        },
        //Apelle du composent
        components: {
            Demineur,
        },
    };
</script>

<style scoped>
    h1, h2 {
        font-weight: normal;
    }

</style>
