<!--- Composent d'une case --->
<template>
    <img :src="getimg(x,y)" v-bind:alt="x + '_' + y" v-bind:ref="x + '_' + y" v-on:click="getmine(dico,x,y)">
</template>

<script>
    //Recuperation de la lib
    var LibDemineur = require('../lib/LibDemineur.js');

    export default {
        //Nom
        name: 'case',
        //Option envoyer au composent
        props: ['x', 'y', 'dico'],
        //Methode pour la template
        methods: {
            getimg: function(x, y) {
                return '/static/img/Hide.jpg';
            },
            getmine: function(dico,x, y) {
                LibDemineur.OnClickEvent(dico, this.$parent.$parent, x, y);
            },
        },
    };
</script>

<style scoped>
    img {
        width: 30px;
        height: 30px;
    }
</style>
