<!--- Composent de toute les case --->
<template>
    <div>
        <ul>
            <!--- For du dico --->
            <li v-bind:key="y" v-for="(ligne, y) in dico">
                    <span v-bind:key="x" v-for="(col, x) in ligne">
                        <Case v-bind:dico="dico" v-bind:x="x" v-bind:y="y"></Case>
                    </span>
            </li>
        </ul>
    </div>
</template>

<script>
    //Recuperation de la lib
    var LibDemineur = require('../lib/LibDemineur.js');

    //Recuperation du composent
    import Case from '../components/case.vue';

    export default {
        //Nom
        name: 'demineur',
        //definition des variable dans la template
        data() {
            return {
                dico: LibDemineur.GetDico(),
            };
        },
        //Apelle du composent
        components: {
            Case,
        },
    };
</script>

<style scoped>
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>
